/* #headBox ================================== */
#headBox{width: 100%; height: 240px;margin: 0 auto;}
#headBox:after{content: " "; display: block; clear: both;}

/* #ulb ========================= */
#ulb{width: 100%; height: 40px; background-color: rgb(236,24,147);}
form{width:100%; height: 100%;}
fieldset{width: 100%; height: 100%; float: right;}
select{width: 90px; height: 20px; float: right; margin-right: 60px; margin-top: 10px; background-color: transparent; color: #fff; cursor: pointer;}
/* .cart ==========================*/
.cart{width: 30px; height: 20px; float: right; margin-top: 10px; margin-right: 30px;}
.cart>a{display: block; width: 100%; height: 100%; text-align: center;}
.cart>a>i{color: #fff; transform: rotateY(180deg); font-size: 1.2rem;}
/* .search ==============================*/
.searchTie{width: 50px;height: 25px;position: relative; float: right; top: 7px; margin-right: 30px;overflow: hidden; transition:all 800ms ease;}
.searchTie.active{width: 250px;}
#searchBox{width: 0; height: 100%; position: absolute; text-indent: 10px; top: 0; right: 0;}
#searchBox.active{width: 100%;}
.search_btn{width:40px; height: 100%; position: absolute; right: 0; font-size: 1.2rem; background-color: transparent; color: #fff; z-index: 200;}
  .login{width: 60px; height: 20px; float: right; margin-top: 10px;}
  .login>a{display: block; width: 100%; height: 100%; color: #fff; font-size: 1.2rem;}
/* #gnb =============================== */
#gnb{width: 100%; height: 200px;}
h1{width: 140px; height: 60px; margin: 0 auto;
background-image: url("../../img/logo_01.png");
background-repeat: no-repeat; background-size: contain; background-position: center; }
h1>a{display: block; width: 100%; height: 100%;}
.lnb{width: 100%; height: auto; margin-left: 310px; margin-top: 55px;}
.lnb>li{width: 160px; height: 30px;float: left; padding: 0.3rem; box-sizing: border-box;  margin-left: 30px;}
.lnb>li>a{display: block; width: 100%; height: 100%; color: #333; font-size: 1rem; font-weight: bold;text-align: center;}
.lnb>li>a:after{content:" ";display: block;  }







#gnb01>ul>.logo{width: 80px; height: 40px; color: #fff; font-size: 1.5rem; margin-left: 50px; text-align: center; line-height: 40px; float: left; /*color:#fff;*/}
#gnb01>ul>li{width: 60px; height: 40px; float: right; margin-right: 10px; color: #fff; text-align: center; line-height: 40px;/* border-right: 1px solid #fff;*/}
.search{display: block; width: 100%; height: 100%;
background-image: url("../../img/search01.svg");
background-repeat: no-repeat; background-position: center; background-size: 60% 60%;}


#gnb02{width: 100%; height: 360px; margin: 0 auto;}
h1{width: 120px; height: 80px; text-align: center; line-height: 80px; left: 100%; margin-left: 45%; top: 80px; margin: 0 auto;}
#gnb02>.lnb01{width: 130px; height: 310px; position: relative; top:80px;float: left;  left:400px; font-weight: bold; margin-left: 40px;}
#gnb02>.lnb01>ul{width: 100%; height: auto; position: absolute; top:30px; display: none; background-color: #fff;}
#gnb02>.lnb01>ul:after{content:" "; display: block; clear: both; }

#gnv02>.lnb01>ul>li{float: left; padding: 0 0.7rem; box-sizing: border-box; letter-spacing: -0.025rem; }

#gnb02>dl{width: 100%; height: 400px; /*background-color: #eee;*/ }
#gnb02>dl>dt.lnb02{width: 130px; height: 30px; float: left; margin-left: 400px; margin-top: 55px; text-align: center; line-height: 30px; font-weight: bold;}
#gnb02>dl>dt.lnb03{width: 130px; height: 30px; float: left; margin-top: 55px; text-align: center; line-height: 30px; font-weight: bold;}
#gnb02>dl>dt.lnb04{width: 130px; height: 30px; float: left;margin-left: 10px; margin-top: 55px; text-align: center; line-height: 30px; font-weight: bold;}
